<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        .topbar {
            min-height: 100px;
            font-size: 30px;
        }

        .topbar-brand {
            font-size: 50px;
        }
        .fontsize20 {
            font-size: 20px;
        }
    </style>

    <title>
        {% block title %}Short URL Service{% endblock %}
    </title>
</head>
<body>

{# This is the top banner #}
<nav class="topbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="topbar-brand" href="">URL Shortener Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<br/>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../generate">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../generate/">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../customize">Customize</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="../user_history">History</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="../login/">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../signup/">SignUp</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
<br/>
<br/>
    {% block content %}
        <h1>Welcome to URL Shortener Service.</h1>
    {% endblock %}
</div>

<!-- Footer -->
{#  <footer class="page-footer font-small blue">#}
{#    <div class="footer-copyright text-center py-3">#}
{#      <p>Footer Space</p>#}
{#    </div>#}
{#  </footer>#}

</body>
</html>