{% extends 'base.html' %}

    <style type="text/css">
        .fontsize20 {
            font-size: 20px;
        }
    </style>

{% block title %}URL Shortening Service{% endblock %}

{% block heading %}URL Shortener{% endblock %}

{% block content %}
  <br>
    <div class="panel-info bg-warning fontsize20">
     {% if warnings %}
         <p>{{ warnings }}</p>
    {% endif %}
    </div>
  <form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Customize</button>
  </form>
  <br>
  <br>
    <div class="fontsize20 success text-success">
    {% if success_message %}
        <h1 class="error">{{ success_message }}</h1>
        <p>Now you can visit <a href="{{ original_url }}">{{ short_url }} </a> (This will redirect to the original URL: {{ original_url }})</p>
    {% endif %}
    </div>

  <br>
{% endblock %}